<li id="micropost-<%= micropost.id %>">
    <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
    <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
    <% if micropost.repost == false %>
        <span class="content"><%= micropost.content %></span>
    <% else %>
        <span class="repost-content"><%= micropost.content %></span>
    <% end %>
    
    <span class="timestamp">
        <% if micropost.repost == false %>
            Posted <%= time_ago_in_words(micropost.created_at) %> ago.
        <% else %>
            Reposted <%= time_ago_in_words(micropost.created_at) %> ago.
        <% end %>
        <% if current_user == micropost.user %>
            <%= link_to "delete", micropost, method: :delete, data: {confirm: "You sure?" } %>
        <% else %>
            <%= link_to "Repost", microposts_path(:micropost_id => micropost.id), method: :post %>
        <% end %>
    </span>
</li>